
* {
  background-color: #f4f4f4;
}

body {
  padding: 16px;
}

#option-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  display: inline-flex;
  align-items: center;
}

canvas {
  margin-top: 8px;
  max-width: 100%;
}
